name: Build

on:
  push:
    branches: ["main", "dev"]
    paths:
      - "**.rs"
      - "Cargo.*"
      - ".github/workflows/build.yml"
  pull_request:
    types: ["opened", "synchronize", "reopened"]
    paths:
      - "**.rs"
      - "Cargo.*"
      - ".github/workflows/build.yml"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - name: Build
      run: cargo build
